<h1>Register</h1>
<div class="wrapper">
  <form action="/register" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" class="input" id="name" name="name" required />
    </div>
    <br />
    <br />
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" class="input" name="email" required />
    </div>
    <br />
    <br />
    <div>
      <label for="degree">Degree</label>
      <input type="text" id="degree" class="input" name="degree" required />
    </div>
    <br />
    <br />
    <div>
      <label for="institution">Institution</label>
      <input
        type="text"
        id="institution"
        class="input"
        name="institution"
        required
      />
    </div>
    <br />
    <br />
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="input"
        name="password"
        required
      />
    </div>
    <br />

    <button type="submit" class="btn">Register</button>
  </form>
  <br />
  <div class="msg">
    <a href="/login">Login</a>
  </div>
</div>
